
<style>
    .footer{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }
</style>

<footer class="bs-docs-footer footer">
    <div class="container">
        <ul class="bs-docs-footer-links">
            <li><a href="https://github.com/twbs/bootstrap">Vue</a></li>
            <li><a href="../getting-started/#examples">React</a></li>
            <li><a href="http://www.youzhan.org">Angular</a></li>
            <li><a href="../about/">小程序</a></li>
        </ul>

        <p>Designed and built with all the love in the world by <a href="https://twitter.com/mdo"
                target="_blank">@mdo</a> and <a href="https://twitter.com/fat" target="_blank">@fat</a>. Maintained by
            the <a href="https://github.com/orgs/twbs/people">core team</a> with the help of <a
                href="https://github.com/twbs/bootstrap/graphs/contributors">our contributors</a>.</p>

        <p>本项目源码受 <a rel="license" href="https://github.com/twbs/bootstrap/blob/master/LICENSE"
                target="_blank">MIT</a>开源协议保护，文档受 <a rel="license" href="https://creativecommons.org/licenses/by/3.0/"
                target="_blank">武汉1910</a> 开源协议保护。</p>

    </div>
</footer>