<h3>员工信息</h3>
<ul class="nav nav-tabs">
    <li role="presentation" class="<%- type=='score'?'active':'' %>"><a href="/student">查看信息</a></li>
    <li role="presentation" class="<%- type=='add'?'active':'' %>"><a href="/student/add">添加数据</a></li>
    <li role="presentation" class="<%- type=='pwd'?'active':'' %>"><a href="/student/changepwd">修改密码</a></li>
</ul>